<div data-collapse="medium" data-animation="over-left" data-duration="400" id="particles-back" class="navbar w-nav">
    <div class="menu-button w-nav-button" (click)="fnToggleNav()">
        <div class="w-icon-nav-menu"></div>
    </div>
    <a href="#" class="brand w-clearfix w-nav-brand">
        <img src="assets/images/quiknode_pro_long.png"
             srcset="assets/images/quiknode_pro_long-p-500.png 500w, assets/images/quiknode_pro_long.png 561w"
             sizes="166.078125px" class="logo">
    </a>
    <div [ngClass]="isMobileView ? 'w-nav-overlay display-overlay' : ''">
        <nav role="navigation" [ngClass]="isMobileView ? 'w-nav-menu w--nav-menu-open' : 'w-nav-menu'">
            <a href="#/dashboard"
               [ngClass]="isMobileView ? 'nav-link w-nav-link w--nav-link-open' : 'nav-link w-nav-link'"
               (click)="fnChangeRoute()"
               [ngClass]="currentPath.includes('dashboard') ? 'w--current' : ''"
            >
                <span class="icon"></span><br>Dashboard
            </a>
            <a href="#/instances"
               [ngClass]="isMobileView ? 'nav-link w-nav-link w--nav-link-open' : 'nav-link w-nav-link'"
               (click)="fnChangeRoute()"
               [ngClass]="currentPath.includes('instance') ? 'w--current' : ''"
            >
                <span class="icon"></span><br>Instances
            </a>
            <a href="#/users" [ngClass]="isMobileView ? 'nav-link w-nav-link w--nav-link-open' : 'nav-link w-nav-link'"
               (click)="fnChangeRoute()"
               [ngClass]="currentPath.includes('user') ? 'w--current' : ''"
            >
                <span class="icon"><br xmlns="http://www.w3.org/1999/xhtml"></span>Users
            </a>
            <a href="#/security"
               [ngClass]="isMobileView ? 'nav-link w-nav-link w--nav-link-open' : 'nav-link w-nav-link'"
               (click)="fnChangeRoute()"
               [ngClass]="currentPath.includes('security') ? 'w--current' : ''"
            >
                <span class="icon"></span><br>security
            </a>
            <a href="#" [ngClass]="isMobileView ? 'nav-link w-nav-link w--nav-link-open' : 'nav-link w-nav-link'"
               (click)="fnToggleNav()"><span
                class="icon"></span><br>Help</a>
            <a href="#" [ngClass]="isMobileView ? 'nav-link w-nav-link w--nav-link-open' : 'nav-link w-nav-link'"
               (click)="fnToggleNav()"
               *ngIf="isLoggedIn" (click)="fnLogOut()">
                <span class="icon"></span><br>Logout
            </a>
        </nav>
    </div>
</div>
