<div data-collapse="medium" data-animation="over-left" data-duration="400" id="particles-back" class="navbar w-nav">
    <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
    </div>
    <a href="#" class="brand w-clearfix w-nav-brand">
        <img src="assets/images/quiknode_pro_long.png" srcset="assets/images/quiknode_pro_long-p-500.png 500w, assets/images/quiknode_pro_long.png 561w" sizes="166.078125px" class="logo">
    </a>
    <nav role="navigation" class="w-nav-menu">
        <a href="#/dashboard" class="nav-link w-nav-link"
           (click)="fnChangeRoute()"
           [ngClass]="currentPath.includes('dashboard') ? 'w--current' : ''"
        >
            <span class="icon"></span><br>Dashboard
        </a>
        <a href="#/instances" class="nav-link w-nav-link"
           (click)="fnChangeRoute()"
           [ngClass]="currentPath.includes('instance') ? 'w--current' : ''"
        >
            <span class="icon"></span><br>Instances
        </a>
        <a href="#/users" class="nav-link w-nav-link"
           (click)="fnChangeRoute()"
           [ngClass]="currentPath.includes('user') ? 'w--current' : ''"
        >
            <span class="icon"><br xmlns="http://www.w3.org/1999/xhtml"></span>Users
        </a>
        <a href="#/security" class="nav-link w-nav-link"
           (click)="fnChangeRoute()"
           [ngClass]="currentPath.includes('security') ? 'w--current' : ''"
        >
            <span class="icon"></span><br>security
        </a>
        <a href="#" class="nav-link w-nav-link"><span class="icon"></span><br>Help</a>
        <a href="#" class="nav-link w-nav-link"  *ngIf="isLoggedIn" (click)="fnLogOut()">
            <span class="icon"></span><br>Logout
        </a>
    </nav>
</div>
