<div data-collapse="medium" data-animation="over-left" data-duration="400" class="navbar w-nav">
  <a href="#" class="brand w-clearfix w-nav-brand">
    <img src="assets/images/quiknode_pro_long.png" srcset="assets/images/quiknode_pro_long-p-500.png 500w, assets/images/quiknode_pro_long.png 561w" sizes="(max-width: 479px) 88vw, 166.078125px" class="logo">
  </a>
  <nav role="navigation" class="w-nav-menu">
    <a href="#" class="nav-link w-nav-link">My Account</a>
    <a href="#/instances" class="nav-link w-nav-link">Instances</a>
    <a href="#/users" class="nav-link w-nav-link">Users</a>
    <a href="#" class="nav-link w-nav-link">Help</a>
    <a href="#" class="nav-link w-nav-link" *ngIf="isLoggedIn" (click)="fnLogOut()">Logout</a>
  </nav>
  <div class="w-nav-button">
    <div class="w-icon-nav-menu"></div>
  </div>
</div>
