<h2 class="modal-header">delete user?</h2>
<div class="w-container">
    <div class="w-row">
        <div class="w-col w-col-1">
            <div class="icon icon-xl"></div>
        </div>
        <div class="w-col w-col-11">
            <p>This action will permanently delete this user. This cannot be undone. <br>Are you sure
                you wish to continue?</p>
        </div>
    </div>
</div>
<a href="#" class="button icon-btn float-right mt10 w-inline-block" (click)="fnDeleteUser()">
    <div class="w-row">
        <div class="w-col w-col-3">
            <div class="icon"></div>
        </div>
        <div class="w-col w-col-9">
            <div class="btn-label">CONTINUE</div>
        </div>
    </div>
</a>
<a href="#" class="button icon-btn float-right mt10 mr10 w-inline-block" (click)="hideModal()">
    <div class="w-row">
        <div class="w-col w-col-3">
            <div class="icon"></div>
        </div>
        <div class="w-col w-col-9">
            <div class="btn-label">CANCEL</div>
        </div>
    </div>
</a>
