<div id="particles-back" class="particles-back"></div>
<div class="login-container w-container">
    <div class="login--form w-form">
        <form #signInForm="ngForm" id="email-form" name="email-form" data-name="Email Form"
              (ngSubmit)="signInForm.valid  && fnSignIn(logInObject, signInForm)">
            <img src="assets/images/platinum_q.png" class="med-img centered">
            <h3 class="card-heading centered">Login to your account</h3>
            <input type="text" class="input-field w-input"
                   maxlength="256" name="username"
                   data-name="username"
                   placeholder="Username"
                   [(ngModel)]="logInObject.username"
                   #username="ngModel"
                   id="username"
                   required
            >

            <div *ngIf="(signInForm.submitted || username.touched) && !username.valid">
                <small class="text-danger" *ngIf="username.errors['required']">
                    Username is required.
                </small>
            </div>

            <input
                type="password"
                class="input-field w-input"
                maxlength="256"
                name="password"
                data-name="Password"
                placeholder="Password"
                id="password"
                #password="ngModel"
                [(ngModel)]="logInObject.password"
                required=""
            >

            <div *ngIf="(signInForm.submitted || password.touched) && !password.valid">
                <small class="text-danger" *ngIf="password.errors['required']">
                    Password is required.
                </small>
            </div>

            <div class="w-row">
                <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
                    <div class="checkbox w-checkbox">
                        <input type="checkbox" data-name="Checkbox 8"
                               [value]="keepLoggedIn"
                               name="keepLoggedIn"
                               id="keepLoggedIn"
                               [checked]="keepLoggedIn"
                               (change)="fnCheckChange($event)"
                               class="checkbox-field w-checkbox-input">
                        <label class="checkbox-label w-form-label" for="keepLoggedIn">
                            Keep me signed in
                        </label>
                    </div>
                </div>
                <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
                    <a href="#" class="text-link">Forgot Password?</a>
                </div>
            </div>
            <div class="w-row">
                <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
                </div>
                <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6">
                    <button type="submit" class="button float-right w-inline-block"
                            [ladda]="isLoading"
                    >
                        <div class="w-row">
                            <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3">
                                <div class="icon"></div>
                            </div>
                            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
                                <div>  Login</div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <h4 class="divider-text">Or</h4>
            <div class="w-row">
                <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
                    <a href="#" title="Login with Github" class="button btn-flat w-inline-block">
                        <div class="w-row">
                            <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3"><img
                                src="assets/images/github-logo.png" class="pic-icon"></div>
                            <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
                                <div class="small-text">  Github</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
                    <a href="#" data-target="add_instance" title="Scan One Time Password"
                       class="button centered w-inline-block">
                        <div class="icon"></div>
                    </a>
                </div>
                <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
                    <a href="#" title="Login with Google" class="button btn-flat float-right w-inline-block">
                        <div class="w-row">
                            <div class="w-col w-col-3 w-col-tiny-3 w-col-small-3">
                                <img src="assets/images/google-1.png" class="pic-icon"></div>
                            <div class="w-col w-col-9 w-col-tiny-9 w-col-small-9">
                                <div class="small-text">  Google</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
