small.text-danger {
    color: #dc3545;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login--form {
    margin: 0;
}

.checkbox-label {
    top: -5px !important;
}
