<h6 class="modal-header section-heading">generate new One time password</h6>
<div class="w-row">
    <div class="w-col w-col-4">
        <select id="field-3" name="field-3" class="w-select">
            <option value="">Select User...</option>
            <option value="First">First Choice</option>
            <option value="Second">Second Choice</option>
            <option value="Third">Third Choice</option>
        </select>
    </div>
    <div class="w-clearfix w-col w-col-4">
        <a href="#" title="Generate New One Time Password" class="button icon-btn float-right w-inline-block"
            (click)="fnNotImplemented($event)">
            <div class="w-row">
                <div class="w-col w-col-3">
                    <div class="icon"></div>
                </div>
                <div class="w-col w-col-9">
                    <div class="btn-label">Generate</div>
                </div>
            </div>
        </a>
        <a href="#" title="Send generated OTP to user" class="button icon-btn float-right w-inline-block"
           (click)="fnNotImplemented($event)">
            <div class="w-row">
                <div class="w-col w-col-3">
                    <div class="icon"></div>
                </div>
                <div class="w-col w-col-9">
                    <div class="btn-label">email to user</div>
                </div>
            </div>
        </a>
    </div>
    <div class="w-col w-col-4">
        <img src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg" class="otp-img">
    </div>
</div>
<h6 class="modal-header section-heading">Existing OTPs</h6>
<div class="card list">
    <div class="info-row list">
        <div class="w-row">
            <div class="w-col w-col-1"><img src="images/Optimus_Prime_Helmet.png" class="userpic inline"></div>
            <div class="w-col w-col-4">
                <div class="name-label inline bold">Optimus Prime Jr</div>
            </div>
            <div class="w-col w-col-3">
                <div class="grey-text">iamprime@gmail.com</div>
            </div>
            <div class="w-col w-col-4">
                <p class="grey-text">New</p>
            </div>
        </div>
    </div>
    <div class="info-row list">
        <div class="w-row">
            <div class="w-col w-col-1"><img src="images/Optimus_Prime_Helmet.png" class="userpic inline"></div>
            <div class="w-col w-col-4">
                <div class="name-label inline bold">Optimus Prime Jr</div>
            </div>
            <div class="w-col w-col-3">
                <div class="grey-text">iamprime@gmail.com</div>
            </div>
            <div class="w-col w-col-4">
                <p class="grey-text">New</p>
            </div>
        </div>
    </div>
    <div class="info-row list">
        <div class="w-row">
            <div class="w-col w-col-1"><img src="images/Optimus_Prime_Helmet.png" class="userpic inline"></div>
            <div class="w-col w-col-4">
                <div class="name-label inline bold">Optimus Prime Jr</div>
            </div>
            <div class="w-col w-col-3">
                <div class="grey-text">iamprime@gmail.com</div>
            </div>
            <div class="w-col w-col-4">
                <p class="grey-text">New</p>
            </div>
        </div>
    </div>
</div>
