<div class="message-modal">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-1">
                <p class="icon large centered"></p>
            </div>
            <div class="w-col w-col-11">
                <h4 class="modal-msg-text">Cannot delete instance: Access denied</h4>
            </div>
        </div>
    </div>
</div>
<div id="particles-back" class="particles-back"></div>
<div class="w-form">
    <form id="email-form" name="email-form" data-name="Email Form">
        <app-header></app-header>
        <router-outlet></router-outlet>
    </form>
    <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
    </div>
</div>
