<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <div class="login-container w-container">
      <div class="login--form w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <img src="/assets/images/platinum_q.png" class="med-img centered">

        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </h1>
</div>

