<div class="container-box">
    <form #apiForm="ngForm" id="api-form" name="api-form" data-name="Api Key Form">
        <div class="w-row">
            <div class="w-col w-col-3">
                <input type="text" class="w-input" maxlength="256" name="field-5"
                       data-name="Field 5" placeholder="Number Of Calls"
                       [(ngModel)]="numberOfCalls.numberOfUsersCall"
                       #secret="ngModel"
                       required="">
            </div>
            <div class="w-col w-col-3">
                <input type="text" class="w-input" maxlength="256" name="field-5"
                       data-name="Field 5" placeholder="Name"
                       [(ngModel)]="name"
                       #secret="ngModel"
                       required="">
            </div>
            <div class="column-6 w-clearfix w-col w-col-3">
                <button class="button icon-btn w-inline-block float-right"
                        (click)="numberOfCalls.numberOfUsersCall && name && fnCreateUsers($event)"
                >
                    <div class="w-row">
                        <div class="w-col w-col-3">
                            <div class="icon"></div>
                        </div>
                        <div class="w-col w-col-9">
                            <div class="btn-label">Create Users</div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="w-col w-col-3">
                <span>Successful : {{successCalls.successCallsUser}}/{{numberOfCalls.numberOfUsersCall}}</span>
            </div>
        </div>
    </form>
    <form #apiForm="ngForm" id="instance-form" name="api-form" data-name="Instance Form">
        <div class="w-row">
            <div class="w-col w-col-3">
                <input type="text" class="w-input" maxlength="256" name="field-5"
                       data-name="Field 5" placeholder="Number Of Calls"
                       [(ngModel)]="numberOfCalls.numberOfInstanceCalls"
                       #secret="ngModel"
                       required="">
            </div>
            <div class="w-col w-col-3">
                <input type="text" class="w-input" maxlength="256" name="field-5"
                       data-name="Field 5" placeholder="Instance Name"
                       [(ngModel)]="instanceName"
                       #secret="ngModel"
                       required="">
            </div>
            <div class="column-6 w-clearfix w-col w-col-3">
                <button class="button icon-btn w-inline-block float-right"
                        (click)="numberOfCalls.numberOfInstanceCalls && instanceName && fnCreateInstances($event)"
                >
                    <div class="w-row">
                        <div class="w-col w-col-3">
                            <div class="icon"></div>
                        </div>
                        <div class="w-col w-col-9">
                            <div class="btn-label">Create Instances</div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="w-col w-col-3">
                <span>Successful : {{successCalls.successCallsInstance}}/{{numberOfCalls.numberOfInstanceCalls}}</span>
            </div>
        </div>
    </form>
    <form #metricsForm="ngForm" id="metrics-form" name="api-form" data-name="Api Key Form">
        <div class="w-row">
            <div class="column-6 w-clearfix w-col w-col-4">
                <button class="button icon-btn w-inline-block"
                        (click)="fnCallGetMetrics($event)"
                >
                    <div class="w-row">
                        <div class="w-col w-col-3">
                            <div class="icon"></div>
                        </div>
                        <div class="w-col w-col-9">
                            <div class="btn-label">Get Metrics for all instances</div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="w-col w-col-3" *ngIf="instanceList && instanceList.length">
                <span>Successful : {{successCalls.successCalls}}/{{instanceList.length}}</span>
            </div>
        </div>
    </form>
</div>
