<div *ngIf="viewType === 'grid'" class="p-20" (click)="showCreateModal($event)">
    <div class="name-label bold">{{instance.name}}</div>
    <div class="grey-text">Used for testing purposes. Do not suspend.</div>
    <div class="stat-block">
        <p>Online since: {{created}}</p>
    </div>
    <div id="chart1" class="microchart" #chartTarget1 (click)="populateChart($event)"></div>
    <!--<img src="assets/images/mini-chart.JPG" class="button microchart" (click)="populateChart()">-->
</div>

<div class="row-2 w-row"  *ngIf="viewType === 'list'" (click)="showCreateModal($event)">
    <div class="w-col w-col-7">
        <div class="name-label bold">{{instance.name}}</div>
        <div class="grey-text">Used for testing purposes. Do not suspend.</div>
        <div class="stat-block">
            <p>Online since: {{created}}</p>
        </div>
    </div>
    <div class="w-col w-col-5">
        <div id="chart1" class="microchart list" #chartTarget1 (click)="populateChart($event)"></div>
        <!--<img src="assets/images/mini-chart.JPG" data-target="show_metrics" title="Display Analytics"
             (click)="populateChart()"
             class="button microchart list">-->
    </div>
</div>
