<div class="p-20" *ngIf="viewType === 'grid'"
     (click)="showUserModal($event)">
    <img src={{url}}
         alt="assets/images/Optimus_Prime_Helmet.png"
         onerror="this.src='assets/images/Optimus_Prime_Helmet.png'"
         class="userpic"

    >
    <div class="name-label bold">{{user.name}}</div>
    <div class="small-pill" *ngIf="isAdmin">
        <div class="text-block">admin</div>
    </div>
    <div class="grey-text">{{user.email}}</div>
    <p class="stat-block">Last login: Today</p>
</div>

<div class="w-row" *ngIf="viewType === 'list'"
     (click)="showUserModal($event)">
    <div class="w-col w-col-1">
        <img src={{url}} class="userpic inline"
             onerror="this.src='assets/images/Optimus_Prime_Helmet.png'"
             alt="assets/images/Optimus_Prime_Helmet.png">

        <div class="small-pill" *ngIf="isAdmin">
            <div class="text-block">admin</div>
        </div>
    </div>
    <div class="w-col w-col-4">
        <div class="name-label inline bold">{{user.name}}</div>
    </div>
    <div class="w-col w-col-3">
        <div class="grey-text">{{user.email}}</div>
    </div>
    <div class="w-col w-col-4">
        <p class="grey-text">Last login: Today</p>
    </div>
</div>
