.main {
    height: 100%;
    font-family: Montserrat, sans-serif !important;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: Montserrat, sans-serif !important;
    line-height: unset !important;
}

.backdrop-scroll-off {
    overflow: hidden;
}

.w-select[disabled] {
    opacity: 0.28;
}

.ladda-button[disabled], .ladda-button[disabled]:hover {
    cursor: not-allowed !important;
    background: #1eb7e3 !important;
}

.ladda-button[data-style=slide-left][data-loading] .ladda-label {
    left: -125%;
}

.ngx-pagination li {
    border: 1px solid #dee2e6;
    margin: 0 !important;
}

.ngx-pagination .current {
    border: 1px solid #2199e8;
}

.text-center {
    text-align: center;
}

.p-l-0 {
    padding-left: 0 !important;
}

.inline-block {
    display: inline-block !important;
}
