.toast-position {
    right: 0;
    bottom: 0;

}

#toast-container {
    width: 100%;
}

#toast-container > div {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#toast-container > div {
    opacity: 1;
}

#toast-container > .toast {
    background-image: none !important;
    text-align: center;
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}
#toast-container > .toast-warning:before {
    content: "\f071";
}
#toast-container > .toast-error:before {
    content: "\f057";
}
#toast-container > .toast-info:before {
    content: "\f05a";
}
#toast-container > .toast-success:before {
    content: "\f00c";
}

.toast-message {
    display: inline-block;
}
