.toast-position {
    right: 0;
    top: 100px;

}

@media (max-width: 768px) {
    .toast-position {
        right: 12px;
        top: 12px;

    }
}

#toast-container {
    width: 100%;
}

#toast-container > div {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
