.toast-position {
    right: 0;
    top: 0;

}

#toast-container {
    width: 100%;
}

#toast-container > div {
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
#toast-container > div {
    opacity: 1;
}
