<div class="analytics">
    <h2 class="card-heading">Analytics</h2>
    <a href="#" (click)="fnNotImplemented($event)" data-target="my_account" class="button btn-flat w-inline-block">
        <div class="icon"></div>
    </a>
    <div class="w-row">
        <div class="w-col w-col-4">
            <select id="Select-instance" name="Select-instance" data-name="Select instance"
                    class="w-select" [(ngModel)]="selectedInstance" (change)="fnGetMetric()">
                <!-- <option value="">Instance ...</option>-->
                <option value="First" *ngFor="let instance of instanceList; let i =index"
                        [value]="instance['instance-id']">
                    {{instance.name}}
                </option>
            </select>
        </div>
        <div class="w-col w-col-4">
            <select id="select-metric-2" name="select-metric" data-name="select-metric"
                    class="w-select" [(ngModel)]="selectedMetric" (change)="fnGetMetric()">
                <!-- <option value="">Metric ...</option>-->
                <option value="" *ngFor="let metric of metricList" [value]="metric">{{metric}}</option>
            </select>
        </div>
        <div class="w-col w-col-4">
            <select id="field" name="field" class="w-select">
                <option value="">Period</option>
                <option value="First">First Choice</option>
                <option value="Second">Second Choice</option>
                <option value="Third">Third Choice</option>
            </select>
        </div>
    </div>
    <div *ngIf="isMetric && !isLoading" id="chart" class="shadow chart" #chartTarget></div>
    <div *ngIf="!isMetric && !isLoading" class="no-result">No Results Found</div>
    <img *ngIf="isLoading" src="assets/images/loader.gif" class="loader">
</div>
