<div>
    <h6 class="modal-header section-heading">add new key</h6>
    <form #apiForm="ngForm" id="api-form" name="api-form" data-name="Api Key Form">
        <div class="w-row">
            <div class="w-col w-col-3">
                <input type="text" class="w-input" maxlength="256" name="field-5"
                       data-name="Field 5" placeholder="Secret"
                       [(ngModel)]="apiKeyObject.secret"
                       #secret="ngModel"
                       required="">
                <div *ngIf="(apiForm.submitted || secret.touched) && !secret.valid">
                    <small class="text-danger" *ngIf="secret.errors['required']">
                        Secret is required.
                    </small>
                </div>
            </div>
            <div class="w-col w-col-3">
                <textarea name="field-6" placeholder="Description"
                          [(ngModel)]="apiKeyObject.description"
                          #description="ngModel"
                          required=""
                          maxlength="5000" class="w-input">
                    </textarea>
                <div *ngIf="(apiForm.submitted || description.touched) && !description.valid">
                    <small class="text-danger" *ngIf="description.errors['required']">
                        Description is required.
                    </small>
                </div>
            </div>
            <div class="column-4 w-col w-col-3">
                <select name="field-10" class="w-select" [(ngModel)]="selectedUser">
                    <option value="{{user['user-id']}}" *ngFor="let user of users">{{user.name}}</option>
                </select>
            </div>
            <div class="column-6 w-clearfix w-col w-col-3">
                <button class="button icon-btn float-right w-inline-block"
                        [ladda]="isLoading"
                        (click)="apiForm.valid && fnAddApiKey($event, apiKeyObject, apiForm)"
                >
                    <div class="w-row">
                        <div class="w-col w-col-3">
                            <div class="icon"></div>
                        </div>
                        <div class="w-col w-col-9">
                            <div class="btn-label">Generate</div>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </form>
    <h6 class="modal-header section-heading">My keys</h6>
    <div class="w-row">
        <div class="w-col w-col-3">
            <h6 class="modal-header">key</h6>
        </div>
        <div class="w-col w-col-3">
            <h6 class="modal-header">secret</h6>
        </div>
        <div class="column-4 w-col w-col-2">
            <h6 class="modal-header">description</h6>
        </div>
        <div class="column-6 w-col w-col-3">
            <h6 class="modal-header">Users</h6>
        </div>
        <div class="w-col w-col-1"></div>
    </div>
    <div class="w-row" *ngFor="let api of apiKeys; let i = index">
        <div class="w-col w-col-3">
            <h6 class="text">{{api['account-authentication-token-id']}}</h6>
        </div>
        <div class="w-col w-col-3">
            <input type="text" class="w-input" maxlength="256" name="field-5" data-name="Field 5"
                   (blur)="fnOnChange(apiKeys[i], i)"
                   placeholder="passws33324245" id="field-5" required="" [(ngModel)]="apiKeys[i]['secret']">
        </div>
        <div class="column-4 w-col w-col-2">
            <textarea id="field-6" name="field-6" placeholder="John&#x27;s main access"
                      maxlength="5000" class="w-input"
                      (blur)="fnOnChange(apiKeys[i], i)"
                      [(ngModel)]="apiKeys[i]['description']"
            ></textarea>
        </div>
        <div class="column-6 w-col w-col-3">
            <select id="field-10" name="field-10" class="w-select">
                <option value="" *ngFor="let user of users">{{user.name}}</option>
            </select>
        </div>
        <div class="w-col w-col-1">
            <a href="#" title="Delete"
               (click)="fnNotImplemented($event)"
               class="button btn-round btn-m flush-top ml-10 float-right w-button"></a>
        </div>
    </div>
</div>
