<app-analytics></app-analytics>
<div class="container-box">
    <div class="mb-40 w-row">
        <div class="w-col w-col-6">
            <h2 data-target="my-account" class="card-heading">Manage</h2>
            <a href="#" data-target="my_account" class="button icon-btn mr-10 w-inline-block"
                (click)="fnShowCreateModal($event, 'account')"
            >
                <div class="icon"></div>
                <div class="icon-btn-label">my account</div>
                <div class="btn-bubble">ETH0.01</div>
            </a>
            <a href="#/instances" class="button icon-btn mr-10 w-inline-block">
                <div class="icon"></div>
                <div class="icon-btn-label">instances</div>
                <div class="btn-bubble">{{instances && instances.length || 0}}</div>
            </a>
            <a href="#/users" class="button icon-btn mr-10 w-inline-block" *ngIf="fnHasUserPermission()">
                <div class="icon"></div>
                <div class="icon-btn-label">users</div>
                <div class="btn-bubble">{{users && users.length || 0}}</div>
            </a>
            <a href="#/security" class="button icon-btn mr-10 w-inline-block">
                <div class="icon"></div>
                <div class="icon-btn-label">security</div>
            </a>
        </div>
        <div class="w-col w-col-6">
            <h2 data-target="my-account" class="card-heading">Quik Create</h2>
            <a href="#" data-target="add_instance" class="button icon-btn mr-10 w-inline-block"
               (click)="fnShowCreateModal($event, 'instance')"
            >
                <div class="icon"></div>
                <div class="icon-btn-label">new instance</div>
            </a>
            <a href="#" data-target="add_user" class="button icon-btn mr-10 w-inline-block"
               *ngIf="fnHasUserPermission()"
               (click)="fnShowCreateModal($event, 'user')"
            >
                <div class="icon"></div>
                <div class="icon-btn-label">new user</div>
            </a>
            <a href="#" data-target="add_api" class="button icon-btn mr-10 w-inline-block"
               (click)="fnShowCreateModal($event, 'apiKey')"
            >
                <div class="icon"></div>
                <div class="icon-btn-label">new api key</div>
            </a>
            <a href="#" data-target="add_otp" class="button icon-btn mr-10 w-inline-block"
                (click)="fnNotImplemented($event)"
            >
                <div class="icon"></div>
                <div class="icon-btn-label">new otp</div>
            </a>
        </div>
    </div>
    <div class="w-row">
        <div class="w-col w-col-6">
            <h2 data-target="my-account" class="card-heading">system Log</h2>
            <div class="msg-row w-row">
                <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                    <div class="icon"></div>
                </div>
                <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11">
                    <div>12-02-18 Infinitely-peaceful-meerkat created by joe@mail.com</div>
                </div>
            </div>
            <div class="msg-row w-row">
                <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                    <div class="icon"></div>
                </div>
                <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11">
                    <div>12-02-18 joe@mail.com was suspended by Admin</div>
                </div>
            </div>
            <div class="msg-row w-row">
                <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                    <div class="icon"></div>
                </div>
                <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11">
                    <div>12-02-18 New user added by Admin</div>
                </div>
            </div>
            <div class="msg-row w-row">
                <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                    <div class="icon"></div>
                </div>
                <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11">
                    <div>12-02-18 Could not connect to API</div>
                </div>
            </div>
        </div>
        <div class="w-col w-col-6">
            <h2 data-target="my-account" class="card-heading">Need Help?</h2>
            <div class="msg-row w-row">
                <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                    <img src="assets/images/twitter.png" class="small-pic">
                </div>
                <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11">
                    <a href="https://twitter.com/quiknode" class="text-link ml-10 mt-10">@QuikNode</a>
                </div>
            </div>
            <div class="msg-row w-row">
                <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                    <img src="assets/images/slack.png" class="small-pic">
                </div>
                <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11">
                    <a href="http://quiknode.io/slack" target="_blank" class="text-link ml-10 mt-10">http://quiknode.io/slack</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal-wrapper [showModal]="showInstanceCreateModal"
                   *ngIf="showInstanceCreateModal"
                   (fnHideModal)="fnHideCreateModal($event)">
    <app-create-update-instance (fnHideModal)="fnHideCreateModal($event)"
                                [instances]="instances"
    >
    </app-create-update-instance>
</app-modal-wrapper>

<app-modal-wrapper [showModal]="showUserCreateModal"
                   *ngIf="showUserCreateModal"
                   (fnHideModal)="fnHideCreateModal($event)">
    <app-create-update-user (fnHideModal)="fnHideCreateModal($event)"
                            [permissions]="_users.permissionList"
                            [users]="users"
    >
    </app-create-update-user>
</app-modal-wrapper>

<app-modal-wrapper [showModal]="showAccountModal"
                   *ngIf="showAccountModal"
                   (fnHideModal)="fnHideCreateModal($event)">
    <app-my-account (fnHideModal)="fnHideCreateModal($event)"></app-my-account>
</app-modal-wrapper>

<app-modal-wrapper [showModal]="showApiKeyModal"
                   *ngIf="showApiKeyModal"
                   (fnHideModal)="fnHideCreateModal($event)">
    <app-add-api-key (fnHideModal)="fnHideCreateModal($event)"></app-add-api-key>
</app-modal-wrapper>
