<h2 class="modal-header">create instance</h2>
<form #instanceForm="ngForm" id="instance-form" name="instance-form" data-name="Instance Form">
    <div class="w-container">
        <div class="btm10 w-row container-row">
            <div class="w-col w-col-6 p-r-10 p-l-10">
                <h4 class="modal-header">info</h4>
                <div class="icon-input w-row">
                    <div class="w-col w-col-1">
                        <div class="icon icon-lg mt10"></div>
                    </div>
                    <div class="w-col w-col-11">
                        <input type="text" class="w-input" maxlength="256" name="field-2"
                               data-name="Field 2" placeholder="Name" required="" [(ngModel)]="instanceObj.name">
                    </div>
                </div>
                <div class="icon-input w-row">
                    <div class="w-col w-col-1">
                        <div class="icon icon-lg"></div>
                    </div>
                    <div class="w-col w-col-11">
                        <textarea id="field-4" name="field-4" placeholder="Description" maxlength="5000"
                                  class="w-input" [(ngModel)]="instanceObj.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="w-col w-col-6 p-r-10 p-l-10">
                <h4 class="modal-header">Validators</h4>
                <select id="field-3" name="field-3" class="w-select">
                    <option value="">Add New...</option>
                    <option value="First">First Choice</option>
                    <option value="Second">Second Choice</option>
                    <option value="Third">Third Choice</option>
                </select>
                <div class="input-block">
                    <label class="name-label">http request referer</label>
                    <div class="icon-input w-row">
                        <div class="w-col w-col-1">
                            <div class="icon icon-lg mt10"></div>
                        </div>
                        <div class="w-col w-col-9">
                            <input type="text" class="w-input" maxlength="256" name="field-2"
                                   data-name="Field 2" placeholder="Referrer" required="">
                        </div>
                        <div class="w-col w-col-2">
                            <a href="#" title="Delete"
                               class="button btn-round btn-m flush-top ml-10 float-right w-button"></a>
                        </div>
                    </div>
                </div>
                <div class="input-block">
                    <label class="name-label">http token validation</label>
                    <div class="icon-input w-row">
                        <div class="w-col w-col-1">
                            <div class="icon icon-lg mt10"></div>
                        </div>
                        <div class="w-col w-col-9">
                            <input type="text" class="w-input" maxlength="256" name="field-2"
                                   data-name="Field 2" placeholder="Token" required="">
                        </div>
                        <div class="w-col w-col-2">
                            <a href="#" title="Delete"
                               class="button btn-round btn-m flush-top ml-10 float-right w-button"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="button icon-btn float-right w-inline-block" (click)="fnCreateInstanceClick(instanceObj, instanceForm)">
        <div class="w-row">
            <div class="w-col w-col-3">
                <div class="icon"></div>
            </div>
            <div class="w-col w-col-9">
                <div class="btn-label">LAUNCH!</div>
            </div>
        </div>
    </a>
</form>
