<h2 class="modal-header">{{editInstanceObject ? "edit " : "create "}}instance</h2>
<form #instanceForm="ngForm" id="instance-form" name="instance-form" data-name="Instance Form"
      (ngSubmit)="instanceForm.valid  && fnCreateInstanceClick(instanceObj, instanceForm)"
>
    <div class="centered" *ngIf="editInstanceObject">
        <button title="{{editInstanceObject.suspended ? 'Turn On' : 'Temporarily turn off' }}"
                class="button icon-btn mr-10 w-inline-block"
           (click)="showSuspendModal($event)">
            <div class="w-row">
                <div class="w-col w-col-3">
                    <div class="icon"></div>
                </div>
                <div class="w-col w-col-9">
                    <div class="btn-label">{{editInstanceObject.suspended ? 'Enable' : 'Suspend' }}</div>
                </div>
            </div>
        </button>
        <button title="Delete permanently" class="button icon-btn mr-10 w-inline-block disabled">
            <div class="w-row">
                <div class="w-col w-col-3">
                    <div class="icon"></div>
                </div>
                <div class="w-col w-col-9">
                    <div class="btn-label">delete</div>
                </div>
            </div>
        </button>
        <button title="Create new identical instance" class="button icon-btn mr-10 w-inline-block"
        (click)="fnCloneInstance()">
            <div class="w-row">
                <div class="w-col w-col-3">
                    <div class="icon"></div>
                </div>
                <div class="w-col w-col-9">
                    <div class="btn-label">clone</div>
                </div>
            </div>
        </button>
    </div>
    <div class="w-container">
        <div class="btm10 w-row container-row">
            <div class="w-col w-col-6 p-r-10 p-l-10">
                <h4 class="modal-header subheader">info</h4>
                <div class="icon-input w-row">
                    <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                        <div class="icon icon-lg mt10"></div>
                    </div>
                    <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11">
                        <input type="text" class="w-input" maxlength="256" name="field-2" #name="ngModel"
                               [ngClass]="{'dark': isDarkMode}"
                               [pattern]="regexp"
                               data-name="Field 2" placeholder="Name" required="" [(ngModel)]="instanceObj.name">
                        <div *ngIf="(instanceForm.submitted || name.touched) && !name.valid">
                            <small class="text-danger" *ngIf="name.errors['required']">
                                Name is required.
                            </small>
                            <small class="text-danger" *ngIf="name.errors['pattern']">
                                Space is not allowed in instance name.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="icon-input w-row">
                    <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                        <div class="icon icon-lg"></div>
                    </div>
                    <div class="w-col w-col-11 w-col-small-11 w-col-tiny-11">
                        <textarea id="field-4" name="field-4" placeholder="Description" maxlength="5000"
                                  [ngClass]="{'dark': isDarkMode}"
                                  class="w-input" [(ngModel)]="instanceObj.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="w-col w-col-6 p-r-10 p-l-10">
                <h4 class="modal-header subheader">Validators</h4>
                <select id="field-3" name="field-3" class="w-select" [(ngModel)]="validatorType"
                        [ngClass]="{'dark': isDarkMode}"
                >
                    <option value="validateToken">Validate Token</option>
                    <option value="validateReferer">Validate Referer</option>
                </select>
                <div class="input-block" *ngIf="validatorType === 'validateReferer'">
                    <label class="name-label">http request referer</label>
                    <div class="icon-input w-row" *ngFor="let ref of validateReferer;trackBy: trackByIndex; let i = index;">
                        <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                            <div class="icon icon-lg mt10"></div>
                        </div>
                        <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
                            <input type="text" class="w-input" maxlength="256" name="validateReferrer"
                                   [(ngModel)]="validateReferer[i]"
                                   [ngClass]="{'dark': isDarkMode}"
                                   data-name="validate Referrer{{i}}" placeholder="Referrer">
                        </div>
                        <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3">
                            <a href="#" title="Delete"
                               (click)="clearValidatorReferer($event, i)"
                               class="button btn-round btn-m flush-top ml-10 w-button"></a>
                            <a href="#" title="Add"
                               *ngIf="i === 0"
                               (click)="addReferer($event)"
                               class="button btn-round btn-m flush-top ml-10 w-button"></a>
                        </div>
                    </div>
                </div>
                <div class="input-block" *ngIf="validatorType === 'validateToken'">
                    <label class="name-label">http token validation</label>
                    <div class="icon-input w-row">
                        <div class="w-col w-col-1 w-col-small-1 w-col-tiny-1">
                            <div class="icon icon-lg mt10"></div>
                        </div>
                        <div class="w-col w-col-9 w-col-small-9 w-col-tiny-9">
                            <input type="text" class="w-input" maxlength="256" name="validateToken"
                                   [(ngModel)]="validateToken"
                                   [ngClass]="{'dark': isDarkMode}"
                                   data-name="Validate Token" placeholder="Token">
                        </div>
                        <div class="w-col w-col-2 w-col-small-2 w-col-tiny-2">
                            <a href="#" title="Delete"
                               (click)="clearValidatorText($event)"
                               class="button btn-round btn-m flush-top ml-10 float-right w-button"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="button icon-btn save-btn float-right w-inline-block"
            [ladda]="isLoading"
            type="submit"
    >
        <div class="w-row" *ngIf="!editInstanceObject">
            <div class="w-col w-col-3">
                <div class="icon"></div>
            </div>
            <div class="w-col w-col-9">
                <div class="btn-label">LAUNCH!</div>
            </div>
        </div>
        <div class="w-row" *ngIf="editInstanceObject">
            <div class="w-col w-col-3">
                <div class="icon"></div>
            </div>
            <div class="w-col w-col-9">
                <div class="btn-label">SAVE </div>
            </div>
        </div>
    </button>
</form>
