<div class="container-box">
    <div class="padded-block">
        <h2 class="card-heading">Instances</h2>
        <button href="#" data-target="add_instance" class="button icon-btn small w-inline-block"
                (click)="fnShowCreateModal(null)">
            <div class="icon"></div>
        </button>
        <a href="#" data-target="my_account" class="button btn-flat no-border w-inline-block"
           *ngIf="viewType === 'list'"
           (click)="changeView($event, 'grid')">
            <div data-targe="my_account" class="icon"></div>
        </a>
        <a href="#" data-target="my_account" class="button btn-flat no-border w-inline-block"
           *ngIf="viewType === 'grid'"
           (click)="changeView($event, 'list')">
            <div data-targe="my_account" class="icon"></div>
        </a>
        <select id="field-7" name="field-7" class="input-field inline-flat w-select"
                [(ngModel)]="sortBy"
                (ngModelChange)="fnOnSortChange()"
        >
            <option value="none">Sort By...</option>
            <option value="date">Creation Date</option>
            <option value="name">Name</option>
        </select>
        <a href="#" data-target="my_account" class="button btn-flat no-border w-inline-block"
           *ngIf="this.sortType === 'asc' && this.sortBy !== 'none'"
           (click)="fnOnSortTypeChange($event, 'desc')"
        >
            <div data-targe="my_account" class="icon"></div>
        </a>
        <a href="#" data-target="my_account" class="button btn-flat no-border w-inline-block"
           *ngIf="this.sortType === 'desc' && this.sortBy !== 'none'"
           (click)="fnOnSortTypeChange($event, 'asc')">
            <div data-targe="my_account" class="icon"></div>
        </a>
        <input type="text" class="w-input" maxlength="256" name="field-8" data-name="Field 8"
               placeholder="Search Instances" id="field-8" [(ngModel)]="searchText" (ngModelChange)="fnOnSearchTextChange()">
    </div>
    <div class="instances-dashboard">
        <div class="card" [ngClass]="viewType === 'grid' ? 'box-view' : 'list'">
            <div class="info-row"
                 [ngClass]="{'shadow p-0': viewType === 'grid', 'list': viewType !== 'grid', 'disabled': ins.suspended}"
                 *ngFor="let ins of instances | paginate: { itemsPerPage: 12, currentPage: page }">
                <app-single-instance [instance]="ins"
                                     (fnShowCreateModal)="fnShowCreateModal($event)"
                                     (fnShowAnalyticsModal)="fnShowAnalyticsModal($event)"
                                     [instances]="instances"
                                     [viewType]="viewType"
                >
                </app-single-instance>
            </div>
        </div>
        <div class="chart" *ngIf="isLoading">
            <img src="assets/images/loader.gif" class="loader">
        </div>
        <div class="error-msg" *ngIf="!isLoading && instances && instances.length === 0">
            <div>Oops! No data found.</div>
        </div>
        <div class="text-center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>
<app-modal-wrapper [showModal]="showInstanceCreateModal"
                   *ngIf="showInstanceCreateModal"
                   (fnHideModal)="fnHideCreateModal($event)">
    <app-create-update-instance [editInstanceObject]="instanceObject" (fnHideModal)="fnHideCreateModal($event)"
                                (fnShowSuspendModal)="fnShowSuspendModal($event)"
    >
    </app-create-update-instance>
</app-modal-wrapper>
<app-modal-wrapper [showModal]="showSuspendModal"
                   *ngIf="showSuspendModal"
                   (fnHideModal)="fnHideSuspendModal($event)">
    <app-suspend-instance (fnHideModal)="fnHideSuspendModal($event)"
                          [suspendInstance]="suspendInstance">
    </app-suspend-instance>
</app-modal-wrapper>

<app-modal-wrapper [showModal]="showAnalyticsModal"
                   *ngIf="showAnalyticsModal"
                   (fnHideModal)="fnHideAnalyticsModal($event)">
    <app-analytics [instances]="originalInstances"></app-analytics>
</app-modal-wrapper>
