<div class="container-box">
    <div class="padded-block">
        <h2 class="card-heading">Instances</h2>
        <button href="#" data-target="add_instance" class="button icon-btn small w-inline-block"
                (click)="fnShowCreateModal(null)">
            <div class="icon"></div>
        </button>
        <a href="#" data-target="my_account" class="button btn-flat no-border w-inline-block"
           *ngIf="viewType === 'list'"
           (click)="changeView($event, 'grid')">
            <div data-targe="my_account" class="icon"></div>
        </a>
        <a href="#" data-target="my_account" class="button btn-flat no-border w-inline-block"
           *ngIf="viewType === 'grid'"
           (click)="changeView($event, 'list')">
            <div data-targe="my_account" class="icon"></div>
        </a>
        <a href="#" data-target="my_account" class="button btn-flat no-border float-right w-inline-block">
            <div data-targe="my_account" class="icon"></div>
        </a>
        <select id="field-7" name="field-7" class="input-field inline-flat w-select"
                [(ngModel)]="sortBy"
                (ngModelChange)="fnOnSortChange()"
        >
            <option value="none">Sort By...</option>
            <option value="date">Creation Date</option>
            <option value="name">Name</option>
        </select>
        <a href="#" data-target="my_account" class="button btn-flat no-border w-inline-block"
           *ngIf="this.sortType === 'asc' && this.sortBy !== 'none'"
           (click)="fnOnSortTypeChange($event, 'desc')"
        >
            <div data-targe="my_account" class="icon"></div>
        </a>
        <a href="#" data-target="my_account" class="button btn-flat no-border w-inline-block"
           *ngIf="this.sortType === 'desc' && this.sortBy !== 'none'"
           (click)="fnOnSortTypeChange($event, 'asc')">
            <div data-targe="my_account" class="icon"></div>
        </a>
        <input type="text" class="w-input" maxlength="256" name="field-8" data-name="Field 8"
               placeholder="Search Instances" id="field-8" [(ngModel)]="searchText" (ngModelChange)="fnOnSearchTextChange()">
    </div>
    <div class="instances-dashboard">
        <div class="card box-view" *ngIf="viewType === 'grid'">
            <div class="info-row shadow p-0" *ngFor="let ins of instances; let i = index">
                <app-single-instance [instance]="ins"
                                     (fnShowSuspendModal)="fnShowSuspendModal($event)"
                                     (fnShowCreateModal)="fnShowCreateModal($event)"
                                     [instances]="instances"
                                     viewType="grid"
                >
                </app-single-instance>
            </div>
        </div>
        <div class="card list"  *ngIf="viewType === 'list'">
            <div class="info-row list" *ngFor="let ins of instances; let i = index">
                <app-single-instance [instance]="ins"
                                     (fnShowSuspendModal)="fnShowSuspendModal($event)"
                                     (fnShowCreateModal)="fnShowCreateModal($event)"
                                     [instances]="instances"
                                     viewType="list"
                >
                </app-single-instance>
            </div>
        </div>
    </div>
</div>
<app-modal-wrapper [showModal]="showInstanceCreateModal"
                   *ngIf="showInstanceCreateModal"
                   (fnHideModal)="fnHideCreateModal($event)">
    <app-create-update-instance [editInstanceObject]="instanceObject" (fnHideModal)="fnHideCreateModal($event)" >
    </app-create-update-instance>
</app-modal-wrapper>
<app-modal-wrapper [showModal]="showSuspendModal"
                   *ngIf="showSuspendModal"
                   (fnHideModal)="fnHideSuspendModal($event)">
    <app-suspend-instance (fnHideModal)="fnHideSuspendModal($event)"></app-suspend-instance>
</app-modal-wrapper>
