<h2 class="modal-header">Create api key</h2>
<form #apiForm="ngForm" id="api-form" name="api-form" data-name="Api Key Form">
    <div>
        <div class="w-row">
            <div class="w-col w-col-4">
                <input type="text" class="w-input" maxlength="256" name="field-5"
                       data-name="Field 5" placeholder="Secret"
                       [(ngModel)]="apiKeyObject.secret"
                       #secret="ngModel"
                       id="field-5" required="">
                <div *ngIf="(apiForm.submitted || secret.touched) && !secret.valid">
                    <small class="text-danger" *ngIf="secret.errors['required']">
                        Secret is required.
                    </small>
                </div>
                <div class="fine-print">
                    Make sure to store Secret value somewhere safe immediately. It will not be shown again!
                </div>
            </div>
            <div class="w-col w-col-4">
                <textarea id="field-6" name="field-6" placeholder="Description"
                          [(ngModel)]="apiKeyObject.description"
                          #description="ngModel"
                          required=""
                          maxlength="5000" class="w-input">
                </textarea>
                <div *ngIf="(apiForm.submitted || description.touched) && !description.valid">
                    <small class="text-danger" *ngIf="description.errors['required']">
                        Description is required.
                    </small>
                </div>
            </div>
            <div class="column-4 w-clearfix w-col w-col-4">
                <button class="button icon-btn w-inline-block float-right"
                   [ladda]="isLoading"
                   *ngIf="!apiKey"
                   (click)="apiForm.valid && fnAddApiKey($event, apiKeyObject)"
                >
                    <div class="w-row">
                        <div class="w-col w-col-3">
                            <div class="icon"></div>
                        </div>
                        <div class="w-col w-col-9">
                            <div class="btn-label">Generate</div>
                        </div>
                    </div>
                </button>
                <h6 class="text" *ngIf="apiKey">{{apiKey}}</h6>
            </div>
        </div>
    </div>
    <a href="#" class="button icon-btn save-btn float-right w-inline-block"
        (click)="fnCloseModal($event)">
        <div class="w-row">
            <div class="w-col w-col-3">
                <div class="icon"></div>
            </div>
            <div class="w-col w-col-9">
                <div class="btn-label">SAVE </div>
            </div>
        </div>
    </a>
</form>
