.input-field.inline-flat {
    display: inline-block;
    width: auto;
    margin-top: -6px;
}

.no-border {
    margin-right: 10px;
    margin-left: 10px;
    border-style: none;
    color: #1eb7e3;
    padding: 0;
}

.p-0 {
    padding: 0px;
}
