<div class="users-dashboard">
    <h2 class="card-heading">users</h2>
    <button href="#" data-target="add_user" class="button icon-btn small w-inline-block" (click)="fnShowCreateModal()">
        <div class="icon"></div>
    </button>
    <div class="card flex">
        <div>
            <app-single-user>
            </app-single-user>
        </div>

    </div>

    <app-modal-wrapper [showModal]="showUserCreateModal"
                       *ngIf="showUserCreateModal"
                       (fnHideModal)="fnHideCreateModal($event)">
        <app-create-update-user (fnHideModal)="fnHideCreateModal($event)" >
        </app-create-update-user>
    </app-modal-wrapper>
</div>
